<h2>Product Details</h2>
<div class="columns">
  <div class="col-2"></div>
  <div class="col-8">
    <div class="card">
      <div class="card-header">
        <div class="card-title h5">
          Registration
        </div>
      </div>
      <div class="card-body">
        <div class="columns">
          <div class="col-12">
            <h2>Registration: Standard</h2>
            <form [formGroup]="registrationForm" (ngSubmit)="onSubmit(registrationForm.value)">
              <div class="form-group">
                <label for="first_name">First Name</label>
                <textarea class="form-input" id="first_name" type="text" formControlName="first_name"></textarea>
              </div>
              <div class="form-group">
                <label for="last_name">Last Name</label>
                <textarea class="form-input" id="last_name" type="text" formControlName="last_name"></textarea>
              </div>
              <div class="form-group">
                <label for="username">Username</label>
                <textarea class="form-input" id="username" type="text" formControlName="username"></textarea>
              </div>
              <div class="form-group">
                <label for="password">Password</label>
                <textarea class="form-input" id="password" type="password" formControlName="password"></textarea>
              </div>
              <button class="btn btn-primary" type="submit">Register</button>
              {{ result }}
            </form>
          </div>
        </div>
        <div class="columns">
          <div class="col-12">
            <h2>Registration: django-rest-auth</h2>
            <form [formGroup]="registrationRestAuthForm" (ngSubmit)="onSubmitRestAuth(registrationRestAuthForm.value)">
              <div class="form-group">
                <label for="first_name">First Name</label>
                <input class="form-input" id="first_name" type="text" formControlName="first_name">
              </div>
              <div class="form-group">
                <label for="last_name">Last Name</label>
                <input class="form-input" id="last_name" type="text" formControlName="last_name">
              </div>
              <div class="form-group">
                <label for="username">Username</label>
                <input class="form-input" id="username" type="text" formControlName="username">
              </div>
              <div class="form-group">
                <label for="email">Email</label>
                <input class="form-input" id="email" type="text" formControlName="email">
              </div>
              <div class="form-group">
                <label for="password">Password</label>
                <input class="form-input" id="password1" type="password" formControlName="password1">
              </div>
              <div class="form-group">
                <label for="password">Password repeat</label>
                <input class="form-input" id="password2" type="password" formControlName="password2">
              </div>
              <button class="btn btn-primary" type="submit">Register</button>
              {{ resultRestAuth }}
            </form>
          </div>
        </div>
      </div>

    </div>
  </div>
  <div class="col-2"></div>
</div>
