<h2>Product Details</h2>
<div class="columns">
  <div class="col-2"></div>
  <div class="col-8">
    <div class="card">
      <div class="card-header">
        <div class="card-title h5">
         Login
        </div>
      </div>
      <div class="card-body">
        <div class="columns">

        <div class="col-12">
          <form [formGroup]="loginForm" (ngSubmit)="onSubmit(loginForm.value)">
            <div class="form-group">
              <label for="username">username</label>
              <input class="form-input" id="username" type="text" formControlName="username">
            </div>
            <div class="form-group">
              <label for="password">password</label>
              <input class="form-input" id="password" type="password" formControlName="password">
            </div>
            <button class="btn btn-primary" type="submit">Login</button>
            {{ result }}
          </form>
        </div>
      </div>
      </div>

    </div>
  </div>
  <div class="col-2"></div>
</div>
